python-dotenv>=1.0.0
sqlalchemy>=2.0.0
sqlalchemy-utils>=0.41.0
aiosqlite>=0.21.0
greenlet>=3.2.0
httpx>=0.28.0
pytest>=8.0.0
pytest-asyncio>=1.0.0
pytest-cov>=6.0.0
coverage>=7.0.0
locust>=2.30.0
sqlmodel>=0.0.14
asyncache>=0.1.0
cachetools>=5.0.0
