[Unit]
Description=Gunicorn async asgi instance of the ALCF Facility API (v2)
After=network.target

[Service]
User=apiuser
Group=apiuser
WorkingDirectory=/home/apiuser/alcf-facility-api
Environment=PATH=/home/apiuser/alcf-facility-api/.venv/bin/
Environment="PYTHONUNBUFFERED=1"
ExecStart=/bin/sh -c '/home/apiuser/alcf-facility-api/.venv/bin/gunicorn -c gunicorn.config.production.v2.py app.main:APP 2>>/var/log/alcf-facility-api/v2/error.log | /usr/bin/rotatelogs -c -f -L /var/log/alcf-facility-api/v2/out.log /var/log/alcf-facility-api/v2/out.log.%%Y-%%m-%%d 86400'
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
