[Unit]
Description=Gunicorn async asgi instance of the ALCF Facility API (v1)
After=network.target

[Service]
User=apiuser
Group=apiuser
WorkingDirectory=/home/apiuser/v1/alcf-facility-api
Environment=PATH=/home/apiuser/v1/alcf-facility-api/.venv/bin/
Environment="PYTHONUNBUFFERED=1"
ExecStart=/bin/sh -c '/home/apiuser/v1/alcf-facility-api/.venv/bin/gunicorn -c gunicorn.config.production.py app.main:APP 2>>/var/log/alcf-facility-api/v1/log.err | /usr/bin/rotatelogs -c -f -L /var/log/alcf-facility-api/v1/log.out /var/log/alcf-facility-api/v1/log.out.%%Y-%%m-%%d 86400'
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
