# Copy this file to .env and fill in the values
# cp .env.example .env

# API base URL (choose one)
#BASE_URL=https://api.alcf.anl.gov/api/v1
#BASE_URL=https://api-dev.alcf.anl.gov/api/v1
BASE_URL=http://localhost:8000/api/v1

# Globus access token
ACCESS_TOKEN=your_access_token_here

# ── Filesystem settings ────────────────────────────────────────────────────────
FILESYSTEM_RESOURCE_ID=6115bd2c-957a-4543-abff-5fae52992ff2 # Home
FILESYSTEM_BASE_PATH=/home/your_username

# ── Compute settings ──────────────────────────────────────────────────────────
COMPUTE_RESOURCE_ID=55c1c993-1124-47f9-b823-514ba3849a9a # Polaris
COMPUTE_OUTPUT_PATH=/home/your_username/qsub
COMPUTE_ACCOUNT=AmSC_Demos
COMPUTE_QUEUE=debug
COMPUTE_OWNER=your_username

# ── Task polling settings ─────────────────────────────────────────────────────
TASK_POLL_INTERVAL=1
TASK_TIMEOUT=120
JOB_TIMEOUT=600
